{:responseHeader {:status 0, :QTime 8, :params {:q "a:\"pomegranate\"", :indent "off", :spellcheck.count "5", :rows "400", :spellcheck "true", :wt "json", :version "2.2", :fl "id,g,a,latestVersion,p,ec,repositoryId,text,timestamp,versionCount", :sort "score desc,timestamp desc,g asc,a asc"}}, :response {:numFound 2, :start 0, :docs [{:repositoryId "central", :ec ["-sources.jar" ".jar" ".pom"], :versionCount 17, :g "com.cemerick", :id "com.cemerick:pomegranate", :latestVersion "0.4.0-alpha1", :timestamp 1495217169000, :p "jar", :a "pomegranate", :text ["com.cemerick" "pomegranate" "-sources.jar" ".jar" ".pom"]} {:repositoryId "central", :ec ["-javadoc.jar" "-sources.jar" ".jar" ".pom"], :versionCount 1, :g "com.qatrend", :id "com.qatrend:pomegranate", :latestVersion "1.0", :timestamp 1427355193000, :p "jar", :a "pomegranate", :text ["com.qatrend" "pomegranate" "-javadoc.jar" "-sources.jar" ".jar" ".pom"]}]}, :spellcheck {:suggestions []}}