[
org.clojure/clojure
org.clojure/algo.generic
org.clojure/algo.monads
org.clojure/core.async
org.clojure/core.cache
org.clojure/core.contracts
org.clojure/core.incubator
org.clojure/core.logic
org.clojure/core.match
org.clojure/core.memoize
org.clojure/core.rbb-vector
org.clojure/core.typed
org.clojure/core.unify
org.clojure/data.codec
org.clojure/data.csv
org.clojure/data.finger-tree
org.clojure/data.generators
org.clojure/data.json
org.clojure/data.priority-map
org.clojure/data.xml
org.clojure/data.zip
org.clojure/java.classpath
org.clojure/java.data
org.clojure/java.jdbc
org.clojure/java.jmx
org.clojure/math.combinatorics
org.clojure/math.numeric-tower
org.clojure/test.benchmark
org.clojure/test.generative
org.clojure/tools.analyzer
org.clojure/tools.analyzer.jvm
org.clojure/tools.cli
org.clojure/tools.emitter.jvm
org.clojure/tools.logging
org.clojure/tools.macro
org.clojure/tools.namespace
org.clojure/tools.nrepl
org.clojure/tools.reader
org.clojure/tools.trace
]